.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
}

.Links {
    display: flex;
    align-items: center;

    a {
        color: #333;
        margin-right: 1rem;
        text-decoration: none;
        
        &:hover {
        text-decoration: underline;
        }
        
        &.router-link-active {
        font-weight: bold;
        }
    }
}

.Authentication {
    display: flex;
    align-items: center;

    p {
        margin: 0 1rem;
        cursor: pointer;
        
        &:hover {
        text-decoration: underline;
        }
    }
}